<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/8ce33cdffa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    <title>Home</title>
    {% endblock %}
</head>

<body>
    <div class="section-left">
        <form class="search" action="/index" method="post">
            <input type="text" name="location" placeholder="Enter a location" required autocomplete="off">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {% block body %}
        <p class="prompt">
            Please enter the name of a city. For a more precise location, enter the country code. (e.g. London, GB)
            <br>
            <br>
            Some cities in the United States may have to be entered in the format: CITY, STATE, COUNTRY (e.g. London,
            OH, US)
        </p>
    </div>
    {% endblock %}
</body>

</html>
